# uv env
.venv/

# pytest cache
.pytest_cache/

# Python cache
__pycache__/

# Python bytecode
*.py[cod]

# Distribution / packaging
.Python

# Installer logs
pip-log.txt

# env
.env

# local data 
backend/naella_app/data/*